@import './components/sidebar.scss';
@import './components/tree.scss';
@import './components/search.scss';
@import './components/footer.scss';
@import './page.scss';
@import './components/pygments.scss';
@import './components/animation.scss';
@import './searchPage.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply leading-normal font-medium bg-white;

  font-family: '游ゴシック', YuGothic, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;

  --main-visual-bg-url: url('/images/bg_main_visual_light.png');
  --main-visual-sp-bg-url: url('/images/bg_main_visual_light_sp.png');
  --footer-bg-url: url('/images/bg_footer_light.png');
  --footer-sp-bg-url: url('/images/bg_footer_light_sp.png');
  --main-visual-blend-mode: color-burn;
  --view-mode-icon-url: url('/images/sun.svg');
  --page-body-left-margin: 6rem;
  --button-arrow: url('/images/arrow_right.svg'), #fff;
  --button-arrow-hover: url('/images/arrow_right_dark.svg'),
    linear-gradient(180deg, #1983e7 0%, #1393eb 100%);
}

:root.dark {
  @apply bg-black;

  --main-visual-bg-url: url('/images/bg_main_visual_dark.png');
  --main-visual-sp-bg-url: url('/images/bg_main_visual_dark_sp.png');
  --footer-bg-url: url('/images/bg_footer_dark.png');
  --footer-sp-bg-url: url('/images/bg_footer_dark_sp.png');
  --main-visual-blend-mode: overlay;
  --view-mode-icon-url: url('/images/moon.svg');
  --button-arrow: url('/images/arrow_right_dark.svg'), #000;
  --button-arrow-hover: url('/images/arrow_right.svg'),
    linear-gradient(180deg, #1983e7 0%, #1393eb 100%);
}

:root.auto {
  .ToolButton__viewModeButton,
  .ViewModeButton__button {
    &--light,
    &--dark {
      @apply hidden;
    }

    &--system {
      @apply bg-gray-50 block;
    }
  }

  &.dark {
    .ToolButton__viewModeButton--system,
    .ViewModeButton__button--system {
      @apply text-white bg-gray-800;
    }
  }
}

html,
body {
  @apply min-h-screen;
}

body {
  @apply bg-white dark:bg-black text-black dark:text-white flex flex-col;
}

.Container {
  @apply flex-grow;

  &__inner {
    @apply pl-0 lg:pl-56 pb-14;
  }
}

.headerlink {
  @apply hidden;
}
