@import './components/sidebar.scss';
@import './components/tree.scss';
@import './components/footer.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255 255 255 / 87%);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;

  --footer-bg-url: url('/images/footer_bg_light.png');
  --view-mode-icon-url: url('/images/sun.svg');
}

:root.dark {
  --footer-bg-url: url('/images/footer_bg_dark.png');
  --view-mode-icon-url: url('/images/moon.svg');
}

html,
body {
  @apply h-full;
}

body {
  @apply bg-white dark:bg-black text-black dark:text-white flex flex-col min-h-screen;

  main {
    @apply flex-grow;
  }
}

.Contents {
  padding-left: 228px;
}
