.Footer {
  @apply flex justify-center items-center lg:z-50;

  background: var(--footer-sp-bg-url) no-repeat center;
  background-size: cover;
  height: 100px;

  @screen lg {
    @apply pt-4 pb-5 block;

    background: var(--footer-bg-url) no-repeat center;
    height: auto;
  }

  &__copyright {
    @apply text-xs text-center;
  }
}

.ToolButton {
  @apply text-center flex-row items-center justify-center mt-4 hidden lg:flex;

  &__viewMode {
    @apply text-center flex flex-row items-center justify-center;

    &Label {
      @apply text-xs font-bold text-gray-400 mr-2 font-roboto tracking-widest;
    }

    &Button {
      @apply text-xs text-black text-left rounded-full relative font-roboto;

      width: 130px;
      height: 40px;
      padding-left: 50px;

      &::before {
        @apply block absolute top-0 left-0;

        content: '';
        background: var(--view-mode-icon-url) no-repeat center;
        background-size: 100% 100%;
        width: 23px;
        height: 23px;
        top: 8px;
        left: 18px;
      }

      &--light {
        @apply bg-gray-50 dark:hidden;
      }

      &--dark {
        @apply text-white bg-gray-800 hidden dark:block;
      }

      &--system {
        @apply hidden;

        &::before {
          background: url('/images/system.svg') no-repeat center;
          background-size: 100% 100%;
          top: 8px;
          left: 18px;
        }
      }
    }
  }

  &__languageMode {
    @apply text-center flex flex-row items-center justify-center ml-6;

    &Label {
      @apply text-xs font-bold text-gray-400 mr-3 font-roboto tracking-widest;
    }

    &Buttons {
      @apply flex flex-row items-center justify-center;
    }

    &Button {
      @apply block text-xs text-black dark:text-white underline;

      &[disabled] {
        @apply font-bold no-underline pointer-events-none cursor-default;
      }

      &:nth-child(1) {
        @apply mr-1;
      }

      &:nth-child(2) {
        @apply ml-1;
      }
    }
  }
}
