html.dark {
  .highlight {
    pre {
      line-height: 125%;
    }

    td.linenos .normal {
      color: #aaaaaa;
      background-color: transparent;
      padding-left: 5px;
      padding-right: 5px;
    }

    span.linenos {
      color: #aaaaaa;
      background-color: transparent;
      padding-left: 5px;
      padding-right: 5px;
    }

    td.linenos .special {
      color: #000000;
      background-color: #ffffc0;
      padding-left: 5px;
      padding-right: 5px;
    }

    span.linenos.special {
      color: #000000;
      background-color: #ffffc0;
      padding-left: 5px;
      padding-right: 5px;
    }

    .hll {
      background-color: #404040;
    }

    .c {
      color: #ababab;
      font-style: italic;
    }

    /* Comment */
    .err {
      color: #a61717;
      background-color: #e3d2d2;
    }

    /* Error */
    .esc {
      color: #d0d0d0;
    }

    /* Escape */
    .g {
      color: #d0d0d0;
    }

    /* Generic */
    .k {
      color: #6ebf26;
      font-weight: bold;
    }

    /* Keyword */
    .l {
      color: #d0d0d0;
    }

    /* Literal */
    .n {
      color: #d0d0d0;
    }

    /* Name */
    .o {
      color: #d0d0d0;
    }

    /* Operator */
    .x {
      color: #d0d0d0;
    }

    /* Other */
    .p {
      color: #d0d0d0;
    }

    /* Punctuation */
    .ch {
      color: #ababab;
      font-style: italic;
    }

    /* Comment.Hashbang */
    .cm {
      color: #ababab;
      font-style: italic;
    }

    /* Comment.Multiline */
    .cp {
      color: #cd2828;
      font-weight: bold;
    }

    /* Comment.Preproc */
    .cpf {
      color: #ababab;
      font-style: italic;
    }

    /* Comment.PreprocFile */
    .c1 {
      color: #ababab;
      font-style: italic;
    }

    /* Comment.Single */
    .cs {
      color: #e50808;
      font-weight: bold;
      background-color: #520000;
    }

    /* Comment.Special */
    .gd {
      color: #d22323;
    }

    /* Generic.Deleted */
    .ge {
      color: #d0d0d0;
      font-style: italic;
    }

    /* Generic.Emph */
    .gr {
      color: #d22323;
    }

    /* Generic.Error */
    .gh {
      color: #ffffff;
      font-weight: bold;
    }

    /* Generic.Heading */
    .gi {
      color: #589819;
    }

    /* Generic.Inserted */
    .go {
      color: #cccccc;
    }

    /* Generic.Output */
    .gp {
      color: #aaaaaa;
    }

    /* Generic.Prompt */
    .gs {
      color: #d0d0d0;
      font-weight: bold;
    }

    /* Generic.Strong */
    .gu {
      color: #ffffff;
      text-decoration: underline;
    }

    /* Generic.Subheading */
    .gt {
      color: #d22323;
    }

    /* Generic.Traceback */
    .kc {
      color: #6ebf26;
      font-weight: bold;
    }

    /* Keyword.Constant */
    .kd {
      color: #6ebf26;
      font-weight: bold;
    }

    /* Keyword.Declaration */
    .kn {
      color: #6ebf26;
      font-weight: bold;
    }

    /* Keyword.Namespace */
    .kp {
      color: #6ebf26;
    }

    /* Keyword.Pseudo */
    .kr {
      color: #6ebf26;
      font-weight: bold;
    }

    /* Keyword.Reserved */
    .kt {
      color: #6ebf26;
      font-weight: bold;
    }

    /* Keyword.Type */
    .ld {
      color: #d0d0d0;
    }

    /* Literal.Date */
    .m {
      color: #51b2fd;
    }

    /* Literal.Number */
    .s {
      color: #ed9d13;
    }

    /* Literal.String */
    .na {
      color: #bbbbbb;
    }

    /* Name.Attribute */
    .nb {
      color: #2fbccd;
    }

    /* Name.Builtin */
    .nc {
      color: #71adff;
      text-decoration: underline;
    }

    /* Name.Class */
    .no {
      color: #40ffff;
    }

    /* Name.Constant */
    .nd {
      color: #ffa500;
    }

    /* Name.Decorator */
    .ni {
      color: #d0d0d0;
    }

    /* Name.Entity */
    .ne {
      color: #bbbbbb;
    }

    /* Name.Exception */
    .nf {
      color: #71adff;
    }

    /* Name.Function */
    .nl {
      color: #d0d0d0;
    }

    /* Name.Label */
    .nn {
      color: #71adff;
      text-decoration: underline;
    }

    /* Name.Namespace */
    .nx {
      color: #d0d0d0;
    }

    /* Name.Other */
    .py {
      color: #d0d0d0;
    }

    /* Name.Property */
    .nt {
      color: #6ebf26;
      font-weight: bold;
    }

    /* Name.Tag */
    .nv {
      color: #40ffff;
    }

    /* Name.Variable */
    .ow {
      color: #6ebf26;
      font-weight: bold;
    }

    /* Operator.Word */
    .pm {
      color: #d0d0d0;
    }

    /* Punctuation.Marker */
    .w {
      color: #666666;
    }

    /* Text.Whitespace */
    .mb {
      color: #51b2fd;
    }

    /* Literal.Number.Bin */
    .mf {
      color: #51b2fd;
    }

    /* Literal.Number.Float */
    .mh {
      color: #51b2fd;
    }

    /* Literal.Number.Hex */
    .mi {
      color: #51b2fd;
    }

    /* Literal.Number.Integer */
    .mo {
      color: #51b2fd;
    }

    /* Literal.Number.Oct */
    .sa {
      color: #ed9d13;
    }

    /* Literal.String.Affix */
    .sb {
      color: #ed9d13;
    }

    /* Literal.String.Backtick */
    .sc {
      color: #ed9d13;
    }

    /* Literal.String.Char */
    .dl {
      color: #ed9d13;
    }

    /* Literal.String.Delimiter */
    .sd {
      color: #ed9d13;
    }

    /* Literal.String.Doc */
    .s2 {
      color: #ed9d13;
    }

    /* Literal.String.Double */
    .se {
      color: #ed9d13;
    }

    /* Literal.String.Escape */
    .sh {
      color: #ed9d13;
    }

    /* Literal.String.Heredoc */
    .si {
      color: #ed9d13;
    }

    /* Literal.String.Interpol */
    .sx {
      color: #ffa500;
    }

    /* Literal.String.Other */
    .sr {
      color: #ed9d13;
    }

    /* Literal.String.Regex */
    .s1 {
      color: #ed9d13;
    }

    /* Literal.String.Single */
    .ss {
      color: #ed9d13;
    }

    /* Literal.String.Symbol */
    .bp {
      color: #2fbccd;
    }

    /* Name.Builtin.Pseudo */
    .fm {
      color: #71adff;
    }

    /* Name.Function.Magic */
    .vc {
      color: #40ffff;
    }

    /* Name.Variable.Class */
    .vg {
      color: #40ffff;
    }

    /* Name.Variable.Global */
    .vi {
      color: #40ffff;
    }

    /* Name.Variable.Instance */
    .vm {
      color: #40ffff;
    }

    /* Name.Variable.Magic */
    .il {
      color: #51b2fd;
    }
  }
}
