.Tree {
  margin-top: 73px;

  &__item {
    @apply text-sm lg:leading-6 relative break-all mt-5 lg:mt-0;

    &.toctree-l1 {
      @apply lg:text-lg lg:font-bold lg:mt-4;

      &:first-child {
        @apply lg:mt-0;
      }
    }

    &.toctree-l2 {
      @apply lg:font-medium;
    }

    & > ul {
      @apply hidden lg:block lg:pl-5;
    }

    & > a {
      @apply w-full block pr-14;
    }
  }

  &_itemToggleCheckbox {
    @apply hidden;

    & ~ .Tree__itemToggle {
      @apply lg:rotate-180;
    }

    &:checked ~ .Tree__itemToggle {
      @apply lg:rotate-0;
    }

    & ~ ul {
      @apply lg:hidden;
    }

    &:checked ~ ul {
      @apply lg:block;
    }
  }

  &__itemToggle {
    @apply absolute top-0 right-0 inline-flex justify-center items-center cursor-pointer bg-white rounded-full bg-opacity-60 dark:bg-black dark:rounded-none;

    width: 24px;
    height: 24px;
    backdrop-filter: blur(2px);

    &Icon {
      width: 13px;
      height: 8px;
      @apply inline-block text-black dark:text-white;

      svg {
        @apply w-full h-full;
      }
    }
  }
}
